.login-container {
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.login-card {
  width: 400px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.login-label {
  font-weight: 700;
  margin: 0;
}
